<!DOCTYPE html>
<html lang="en" xmlns:data-th="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Personal Book Managing System</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <button data-th:if="${condition}">Click Me</button>
    <div class = "container">
        <div class = "row">
            <h1>My Books</h1>
        </div>
        <table class = "table table-bordered">
            <thead class = "table-dark">
                <tr>
                    <th>Book Title</th>
                    <th>Book Author</th>
                    <th>Book Rating</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each = "book: ${books}">
                    <td th:text = "${book.title}"></td>
                    <td th:text = "${book.author}"></td>
                    <td th:text = "${book.rating}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>